.heading{
    width: 100%;
    text-align: left;
    height: 50px;
}
.heading button{
    float: right;
    font-size: 15px;
    border-width: 2px;
    border-color: aliceblue;
}
.heading h3{
    display: inline;
    font-size: 25px;
}
#start{
    font-size: 22px;
    border-color: aliceblue;
    border-width: 2px;
}
#imp{
    color: aliceblue;
}
